argon2-cffi==20.1.0
asgiref @ file:///tmp/build/80754af9/asgiref_1594338739818/work
astroid @ file:///tmp/build/80754af9/astroid_1592495912941/work
bcrypt==3.1.7
beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.14.0
Django==3.0.3
django-bootstrap4==2.1.1
django-braces==1.14.0
django-debug-toolbar==2.2
Faker==4.1.0
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
misaka==2.1.1
Pillow==7.1.2
pycparser==2.20
pylint @ file:///tmp/build/80754af9/pylint_1592496053748/work
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
text-unidecode==1.3
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
wrapt==1.11.2
