<!-- create login form-->
{% extends "base.html" %}
{# at the terminal, run pip install django-bootstrap4 #}
{% load bootstrap4 %}

{% block content %}
<div class="container">
  <h1>Login Here</h1>
  <form method="POST" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary">Login</button>
    {% endbuttons %}
  </form>
</div>

<div> 
  <h2> Not a registered user: 
  <a href="{% url 'user_accounts:signup' %}" class="btn btn-simple"><h1>Signup here </h1></a> 
</div>
</h2>
{% endblock %}
